
* {
    margin: 0;
    padding: 0;
}
body {
    font: 14px/1.2 "Lucida Console", Monaco, monospace;
}





/*res tab*/


/*
Generic Styling, for Desktops/Laptops
table {
    width: 100%;
    border-collapse: collapse;
}
            /*
Generic Styling, for Desktops/Laptops
*/
/*
            html, body{
                margin:0;
                padding:0;
                height:100%;
            }
*/
section {
    position: relative;
    border: 0px solid white;
    padding-top: 19px;
    background: gray;
}

.container {
    overflow-y: auto;
    height: 201px;
    margin:0;
    padding:0;
}
.contpad {
    margin:0;
    padding:0;
}
table {
    border-spacing: 0;
    width:100%;
    border-collapse: collapse;
}
td + td {
    border-left:1px solid #ccc;
}
/**********afecta cabecalho*****
th {
    height: 0;
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: transparent;
    border: none;
    white-space: nowrap;
}
/**********afecta cabecalho fim*****/
th div{
    position: absolute;
    background: transparent;
    color: white;
    padding: 2px 0px;
    top: 0;
    margin-left: -1px;
    line-height: normal;
    border-left: 1px solid #ccc;
}
th:first-child div{
    border: none;
}

/* Zebra striping
tr:nth-of-type(odd) {
    background: #eee;
}
th {
    background: grey;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 1px;
    border: 1px solid #ccc;
    text-align: left;
}
/* Zebra striping */
/*res tab end*/
/*********************************************************/



td {
    padding: 0px;
    border: 1px solid yellow;
    text-align: left;
}
tr:nth-of-type(odd) {
    background: #eee;
}
tr:nth-of-type(even) {
    background: white;
}
/******************************************************************/
/*********** importante para  ficha id e cliente fundo cinza****/
th {
    background: grey;
    color: white;
    font-weight: bold;
}
/*********** importante para  ficha id e cliente fundo cinza****/
/**********centra ficha id e cliente ***************/
td, th {
    padding: 0px;
    border: 1px solid #ccc;
    text-align: left;
}
/**********centra ficha id e cliente ***************/


a:link {color: black;}      /* unvisited link */
a:visited {color: black;}   /* visited link */
a:hover {color: #0099ff;}     /* mouse over link */
a:active {color: #0099ff;}    /* selected link */

/* cbdb*/






#search-form1 {
    /*background: #e1e1e1; /* Fallback color for non-css3 browsers */
    width: 100%;
    /*width: calc(100% - 0.5px);
    /* Gradients */
    background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
    background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);

    /* Rounded Corners /
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;

    /* Shadows /
    box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    */
}

/*** TEXT BOX ***/
input[type="text"]{
    /*background: #fafafa; /* Fallback color for non-css3 browsers */

    /* Gradients */
    /*background: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(250,250,250)), color-stop(1, rgb(230,230,230)));
    background: -moz-linear-gradient( center top, rgb(250,250,250) 0%, rgb(230,230,230) 100%);
    */
    border: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgba(255,255,255,.8);
    font-size: 16px;
    margin: 1px;
    padding: 5px;
    width: calc(100% - 166px);

    /* Rounded Corners */



}











/****************************************
        CSS 3 SEARCH FORM BY CAMERON BANEY
    Design Blog: http://blog.cameronbaney.com
        Twitter: @cameronbaney
****************************************/

#search-form {
    /*background: #e1e1e1; /* Fallback color for non-css3 browsers */
    width: 100%;

    /* Gradients */
    background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
    background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);

    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;

    /* Shadows */
    box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
}

#select1 {
    /*background: #e1e1e1; /* Fallback color for non-css3 browsers */
    width: 63px;

    /* Gradients
    background: -webkit-gradient( linear,left top, left bottom, color-stop(0, rgb(243,243,243)), color-stop(1, rgb(225,225,225)));
    background: -moz-linear-gradient( center top, rgb(243,243,243) 0%, rgb(225,225,225) 100%);
    */
    /* Rounded Corners
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    */
    /* Shadows
    box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.3), 0 0 2px rgba(0,0,0,.3);
    */
    border: 0;
    border-bottom: 1px solid #fff;
    border-right: 1px solid rgba(255,255,255,.8);
    font-size: 14px;
    margin: 1px;
    padding: 5px;


    /* Rounded Corners */
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;

    /* Shadows */
    box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
    -moz-box-shadow: -1px -1px 2px rgba(0,0,0,.3), 0 0 1px rgba(0,0,0,.2);
}





/*cbdb fim*/